@use "colors.scss";
@use "typo.scss";
@use "mixins.scss";

.btn {
   @include mixins.center;
   margin: auto;
   max-width: 220px;
   background: linear-gradient(colors.$color-secondary, colors.$color-primary);
   border-radius: 60px;
   border: none;
   box-shadow: 2px 2px 20px colors.$shadow;
   padding: 16px 23px;
   cursor: pointer;
   transition-property: transform, scale;
   transition-duration: 500ms;

   &__explore {
      font-size: 15px;
      color: white;
   }

   &:hover {
      box-shadow: 2px 2px 20px colors.$dark-shadow;
      background: colors.$color-secondary;
      scale: 1.05;
      transform: scale, background-image;
      transition-property: transform, scale;
      transition-duration: 500ms;
   }
}