@use "colors.scss";
@use "typo.scss";
@use "mixins.scss";

button {
   @include mixins.flex-center;
   margin: auto;
   background: linear-gradient(colors.$color-secondary, colors.$color-primary);
   border-radius: 60px;
   border: none;
   box-shadow: 2px 2px 20px colors.$shadow;
   padding: 16px 23px;
   cursor: pointer;
   transition-property: transform 500ms;

   .btn {
      font-size: 18px;
      color: white;
      font-weight: 500;
   }

   &:hover {
      box-shadow: 2px 2px 20px colors.$dark-shadow;
      background: colors.$color-secondary;
      transform: scale(1.05), background-image;
      transition: transform 500ms;
   }
}