$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$bg-choice: #f6f6f6;
$bg-search: #eaeaea;
$gradient: linear-gradient($color-secondary, $color-primary);
$selection: #f5edff;
$color-bg: #353535;
$shadow: #d3d3d3;
$dark-shadow: darken($shadow, 20%);