header {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   height: 70px;
   box-shadow: 2px 2px 10px lightgray;

   .logo {
      height: 30px;
   }

   .header__btn {
      position: absolute;
      top: 24px;
      left: 22px;
      border: none;
      background-color: transparent;

      i {
         font-size: 20px;
         color: black;
      }
   }
}