header {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   height: 70px;
   box-shadow: 2px 2px 10px lightgray;

   .logo {
      height: 30px;
   }

   .btn {

   }
}