@use "colors";
@use "typo.scss";

.card__heart {
   cursor: pointer;
   
   .fa-regular {
      font-size: 25px;
      opacity: 1;
      transition: opacity 500ms;
   }

   .fa-solid {
      font-size: 25px;
      color: transparent;
      background-image: colors.$gradient;
      background-clip: text;
      -webkit-background-clip: text;
      transform: scale(0);
      opacity: 0;
      transition: opacity 500ms, transform 500ms;
   }

   &:hover {
      .fa-regular {
         transition: opacity 500ms;
         opacity: 0;
      }

      .fa-solid {
         transition: opacity 500ms, transform 500ms;
         opacity: 1;
         transform: scale(1);
      }
   }
}