@use "colors";
@use "typo.scss";

@mixin center {
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin h2 {
   margin-left: 28px;
   font-size: 24px;
   font-weight: 600;
}

@mixin flag {
   background-color: colors.$color-tertiary;
   color: darken(colors.$color-tertiary, 38%);
}