@use "../sass/colors.scss";
@use "../sass/typo.scss";
@use "../sass/mixins.scss";



* {
   @include mixins.basics;
}



// Spinner

// .spin {
// @include mixins.spinner;
// }








// Header

header {
   @include mixins.header;
}













// Lieu

#search {
   height: 50px;
   background-color: colors.$bg-search;
   gap: 15px;
   font-size: 18px;
   @include mixins.center;
}






// Choix

#choose {
   background-color: colors.$bg-choice;
   padding-top: 40px;
   padding-bottom: 56px;

   h1 {
      max-width: 60%;
      margin: auto;
      text-align: center;
      font-size: 23px;
      font-weight: 700;
      padding-bottom: 10px;
   }

   h1+p {
      font-size: 16px;
      width: 90%;
      margin: auto;
      text-align: center;
      padding-bottom: 30px;
      font-weight: 300;
      font-size: 18px;
   }

   .btn {
      margin: auto;
      max-width: 220px;
      background: linear-gradient(colors.$color-secondary, colors.$color-primary);
      border-radius: 60px;
      border: none;
      box-shadow: 2px 2px 20px colors.$shadow;
      padding: 16px 23px;
      cursor: pointer;
      transform: scale(1);
      @include mixins.transform;
      @include mixins.center;

      .btn__explore {
         font-size: 15px;
         color: colors.$white;
      }
   }

   .btn:hover {
      box-shadow: 2px 2px 20px colors.$dark-shadow;
      background: colors.$gradient;
      opacity: 0.8;
      scale: 1.05;
      cursor: pointer;
      transform: scale, opacity;
      @include mixins.transform;
   }
}
















// Mode d emploi

.select {
   padding: 54px 0 70px 0;

   h2 {
      margin-left: 28px;
      font-size: 24px;
      padding-bottom: 30px;
   }

   ol {
      margin: 0;
      padding-left: 20px;
      counter-reset: number;

      li {
         display: flex;
         align-items: baseline;
         text-align: center;
         height: 80px;
         border-radius: 25px;
         background-color: colors.$bg-choice;
         box-shadow: 2px 2px 20px colors.$shadow;
         margin-bottom: 20px;
         margin-left: 20px;
         margin-right: 30px;
      }

      li::before {
         content: counter(number);
         counter-increment: number;
         color: colors.$white;
         width: 20px;
         height: 25px;
         border-radius: 50%;
         background-color: colors.$color-primary;
         font: 500 16px typo.$typo-text;
         padding: 5px 5px 0px 5px;
         z-index: 2;
         margin-left: -15px;
         
      }

      li:hover {
         background-color: colors.$selection;
         cursor: pointer;

         i {
            color: colors.$color-primary;
         }
      }
   }

   .step i {
      margin: 25px;
      color: colors.$dark-shadow;
      font-size: 22px;
   }

   li p {
      font-size: 16px;
      font-weight: 500;
   }
}










// Restaurants //

.list {
   background-color: colors.$bg-choice;
   padding: 60px 20px;

   h2 {
      margin-left: 20px;
   }

   .restaurants {
      max-width: 767px;
      margin-top: 25px;

      a {
         text-decoration: none;
         color: colors.$black;
      }
   }

   .card__legend {
      display: flex;
   }

   .card {
      display: inline-block;
      margin-bottom: 20px;
      background-color: colors.$white;
      box-shadow: 2px 2px 20px colors.$shadow;
      width: 100%;
      height: 250px;
      cursor: pointer;
      transform: scale(1);
      @include mixins.transform;
      border-radius: 25px;
      overflow: hidden;

      .card__img {
         object-fit: cover;
         height: 175px;
         width: 100%;
         object-position: center;

         img {
            border-radius: 25px 25px 0px 0px;
         }
      }

      .card__new {
         position: absolute;
         top: 20px;
         right: 20px;
         z-index: 2;
         border-radius: 3px;
         width: 80px;
         height: 30px;
         font-weight: 700;
         text-align: center;
         padding-top: 6px;
         @include mixins.new;
      }

      .card__name {
         font-size: 18px;
         font-weight: 700;
         padding: 10px 0 5px 16px;
      }

      .card__city {
         padding-left: 16px;
      }


      .card__heart {

         .fa-regular {
            position: absolute;
            bottom: 30px;
            right: 25px;
            font-size: 25px;
            visibility: visible;
            transition-property: visibility;
            transition-duration: 200ms;
         }

         .fa-solid {
            position: absolute;
            bottom: 30px;
            right: 25px;
            font-size: 25px;
            color: transparent;
            background-image: linear-gradient(colors.$color-secondary, colors.$color-primary);
            background-clip: text;
            -webkit-background-clip: text;
            scale: 0;
            visibility: hidden;
            @include mixins.visibility;
         }
      }

      .card__heart:hover {
         .fa-regular {
            visibility: hidden;
            @include mixins.visibility;
         }

         .fa-solid {
            visibility: visible;
            scale: calc(100%);
            @include mixins.visibility;
         }
      }
   }

   .card:hover {
      box-shadow: 2px 2px 20px colors.$dark-shadow;
      transform: scale(1.04);
      @include mixins.visibility;
   }

}






// Footer

footer {
   @include mixins.footer;
}