@use "button.scss";
@use "card.scss";
@use "colors.scss";
@use "footer.scss";
@use "header.scss";
@use "heart-animation.scss";
@use "mixins.scss";
@use "spinner.scss";
@use "steps.scss";
@use "typo.scss";

// Lieu

#search {
   @include mixins.center;
   height: 50px;
   background-color: colors.$bg-search;
   gap: 15px;
   font-size: 18px;
}

// Choix

#choose {
   background-color: colors.$bg-choice;
   padding-top: 40px;
   padding-bottom: 56px;

   h1 {
      max-width: 60%;
      margin: auto;
      text-align: center;
      font-size: 23px;
      font-weight: 700;
      padding-bottom: 10px;
   }

   h1+p {
      font-size: 16px;
      width: 90%;
      margin: auto;
      text-align: center;
      padding-bottom: 30px;
      font-weight: 300;
      font-size: 18px;
   }
}

// Mode d emploi

.select {
   padding: 54px 0 70px 0;

   h2 {
      @include mixins.h2;
      padding-bottom: 30px;
   }
}



// Restaurants //

.list {
   background-color: colors.$bg-choice;
   padding: 60px 20px;

   h2 {
      @include mixins.h2;
      margin-left: 20px;
   }

   .restaurants {
      max-width: 767px;
      margin-top: 25px;

      a {
         text-decoration: none;
         color: black;
      }
   }

   
}