@media screen and (min-width: 768px) {

.using {
   width: 100%;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-evenly;

   #choose {
      background-color: white;
      margin-top: 50px;
      padding-bottom: 0;
   }

   .select {
      width: 70%;
      padding-bottom: 20px;
      padding-top: 40px;
   }
}

.list {
   padding-top: 40px;

.restaurants {
   display: flex;
   flex-wrap: wrap;
   margin-top: 0;
   .card {
      width: 45%;
      margin: auto;
      margin-top: 30px;
   }}
}

footer {
   padding-left: 60px;
}
}